<div class="work4-section-area sp1">
  <img
    src="assets/img/elements/elements16.png"
    alt=""
    class="elements16"
  />
  <img
    src="assets/img/elements/elements1.png"
    alt=""
    class="elements1 keyframe5"
  />
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 m-auto">
          <div class="heading6 text-center space-margin60">
            <h5>
              <img
                src="assets/img/icons/sub-logo4.svg"
                alt=""
              />how it works
            </h5>
            <div class="space18"></div>
            <h2 class="text-anime-style-3">HOW OUR IT SOLUTION WORKS</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="others-widget-area">
            <div class="row align-items-center">
              <div class="col-lg-4">
                <div
                  class="card-boxarea box1"
                  data-aos="zoom-in"
                  data-aos-duration="800"
                >
                  <div class="content-area">
                    <a routerLink="/services/single"
                      >Understanding Your Requirements</a
                    >
                    <div class="space14"></div>
                    <p>
                      We begin by understanding your business goals, challenges,
                      and technical requirements. Our team analyzes your
                      existing systems and identifies gaps to design the right
                      solution.
                    </p>
                    <br />
                    <div style="text-align: left">
                      ✔ Business analysis<br />
                      ✔ Requirement gathering<br />
                      ✔ Risk &amp; feasibility assessment
                    </div>
                  </div>
                </div>
                <div class="space30"></div>
                <div
                  class="card-boxarea box2"
                  data-aos="zoom-in"
                  data-aos-duration="900"
                >
                  <div class="content-area">
                    <a routerLink="/services/single"
                      >Customized Solution Design</a
                    >
                    <div class="space14"></div>
                    <p>
                      Based on your needs, we design a tailor-made IT solution
                      that aligns with your workflow, security standards, and
                      growth plans.
                    </p>
                    <br />
                    <div style="text-align: left">
                      ✔ Architecture planning<br />
                      ✔ Technology selection<br />
                      ✔ Scalability &amp; security planning
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div
                  class="images"
                  data-aos="zoom-in"
                  data-aos-duration="1000"
                >
                  <img
                    src="assets/img/elements/elements12.png"
                    alt=""
                    class="elements12"
                  />
                  <img
                    src="assets/img/elements/elements13.png"
                    alt=""
                    class="elements13"
                  />
                  <img
                    src="assets/img/elements/elements14.png"
                    alt=""
                    class="elements14"
                  />
                  <img
                    src="assets/img/elements/elements15.png"
                    alt=""
                    class="elements15"
                  />
                  <div class="img1">
                    <img
                      src="assets/img/all-images/case/case-img4.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div
                  class="card-boxarea box3"
                  data-aos="zoom-in"
                  data-aos-duration="800"
                >
                  <div class="content-area2">
                    <a routerLink="/services/single"
                      >Development &amp; Implementation</a
                    >
                    <div class="space14"></div>
                    <p>
                      Our experts develop and implement the solution using
                      industry-best practices and the latest technologies,
                      ensuring high performance and reliability.
                    </p>
                    <br />
                    <div style="text-align: left">
                      ✔ Agile development<br />
                      ✔ Secure coding standards<br />
                      ✔ System integration
                    </div>
                  </div>
                </div>
                <div class="space30"></div>
                <div
                  class="card-boxarea box4"
                  data-aos="zoom-in"
                  data-aos-duration="1000"
                >
                  <div class="content-area2">
                    <a routerLink="/services/single"
                      >Testing &amp; Quality Assurance</a
                    >
                    <div class="space14"></div>
                    <p>
                      Before deployment, we rigorously test the solution to
                      ensure it is secure, stable, and error-free.
                    </p>
                    <br />
                    <div style="text-align: left">
                      ✔ Functional testing<br />
                      ✔ Performance testing<br />
                      ✔ Security validation
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
