<app-page-header title="404 Error" />
<div class="error-section-area sp1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="images-conten-area">
                    <div class="img1 image-anime reveal" appGsapReveal>
                        <img src="assets/img/all-images/others/error.png" alt="">
                    </div>
                    <div class="space40"></div>
                    <div class="heading2 text-center">
                        <h2>Oops!! Page Not Found</h2>
                        <div class="space24"></div>
                        <p>While you're here, why not check out some of our top-notch web hosting <br
                                class="d-lg-block d-none"> services? Whether you're just starting a new website or
                            looking to upgrade <br class="d-lg-block d-none"> your current hosting, we offer solutions
                            tailored to your needs.</p>
                        <div class="space32"></div>
                        <div class="btn-area1">
                            <a routerLink="/home-1" class="vl-btn2">Back To Home Page <i
                                    class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>