<div class="service5-section-area"
    style="background-image: url(assets/img/all-images/bg/hero-bg6.png); background-repeat: no-repeat; background-position: center; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="service-header heading7 space-margin60">
                    <h5><span><img src="assets/img/icons/sub-logo1.svg" alt=""></span>Our Solution</h5>
                    <div class="space18"></div>
                    <h2 class="text-anime-style-3">Our Best Bespoke Solution</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <owl-carousel-o [options]="carouselOptions" class="service5-slider-box">
                    <ng-container *ngFor="let item of services">
                        <ng-template carouselSlide>
                            <div class="service-slider-box">
                                <div class="icons">
                                    <img [src]="item.icon" alt="">
                                </div>
                                <div class="space24"></div>
                                <div class="content-area">
                                    <a routerLink="/services/single">{{ item.title }}</a>
                                    <div class="space18"></div>
                                    <p>{{ item.description }}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>

<div class="space80 d-lg-block d-none"></div>