<div class="works3-section-area sp2">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 m-auto">
        <div class="work-header text-center space-margin60 heading5">
          <h5><img src="assets/img/icons/sub-logo3.svg" alt="">How It Works</h5>
          <div class="space20"></div>
          <h2 class="text-anime-style-3">Starts With Eitech Simple Steps!</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="800">
        <div class="works-single-boxarea">
          <div class="icons">
            <img src="assets/img/icons/work-icon1.svg" alt="">
          </div>
          <div class="space20"></div>
          <div class="content-area">
            <a routerLink="/services/single">Start Your HelpDesk</a>
            <div class="space16"></div>
            <p>Provide brief overview the problem you're facing. The more details you give, the better we can assist you.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1000">
        <div class="space30 d-lg-block d-none"></div>
        <div class="works-single-boxarea">
          <div class="icons">
            <img src="assets/img/icons/work-icon2.svg" alt="">
          </div>
          <div class="space20"></div>
          <div class="content-area">
            <a routerLink="/services/single">Connect With Our Team</a>
            <div class="space16"></div>
            <p>Reach out using your chosen on method. Our experts are ready to assist you provide the support.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1200">
        <div class="space60 d-lg-block d-none"></div>
        <div class="works-single-boxarea">
          <div class="icons">
            <img src="assets/img/icons/work-icon3.svg" alt="">
          </div>
          <div class="space20"></div>
          <div class="content-area">
            <a routerLink="/services/single">Receive A Solution</a>
            <div class="space16"></div>
            <p>Get a clear, actionable solution to your issue. We'll ensure you on to understand an next steps provide.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>