<div class="service2-section-area sp1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="service-header text-center heading4 space-margin60">
                    <h5><img src="assets/img/icons/sub-logo2.svg" alt="">Our Services</h5>
                    <div class="space20"></div>
                    <h2 class="text-anime-style-3">We Have The Best Experts <br class="d-lg-block d-none"> To Elevate
                        Your Business</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="service-widgets-section">

                    <div class="tab-content" [ngbNavOutlet]="nav"></div>

                    <div class="space80"></div>
                    <div class="tabs-btn-area">
                        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav nav-pills" id="pills-tab"
                            role="tablist">
                            <li *ngFor="let item of tabItems" [ngbNavItem]="item.id" class="nav-item"
                                role="presentation">
                                <button ngbNavLink class="nav-link" type="button" role="tab">
                                    <span><img [src]="item.icon" alt=""></span>
                                    {{item.label}}
                                </button>
                                <ng-template ngbNavContent>
                                    <div class="row align-items-center">
                                        <div class="col-lg-6">
                                            <div class="service-boxarea">
                                                <div class="icons" data-aos="fade-left" data-aos-duration="700">
                                                    <img [src]="item.icon" alt="">
                                                </div>
                                                <div class="space28"></div>
                                                <div class="content-area">
                                                    <h3 data-aos="fade-left" data-aos-duration="800">{{item.label}}
                                                    </h3>
                                                    <div class="space16"></div>
                                                    <p data-aos="fade-left" data-aos-duration="900">We provide
                                                        round-the-clock
                                                        support for all your inbound and outbound call needs, ensuring
                                                        that no
                                                        customer query going on the unanswered. </p>
                                                    <div class="space28"></div>
                                                    <div class="btn-area" data-aos="fade-left" data-aos-duration="1000">
                                                        <a routerLink="/services" class="vl-btn3"><span class="demo">Learn
                                                                More</span><span class="arrow"><i
                                                                    class="fa-solid fa-arrow-right"></i></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-5">
                                            <div class="images-area">
                                                <div class="img1 reveal" appGsapReveal>
                                                    <img src="assets/img/all-images/service/service-img1.png" alt="">
                                                </div>
                                                <div class="arrow-circle text-end">
                                                    <a href="javascript:void(0)">
                                                        <img src="assets/img/elements/elements20.png" alt=""
                                                            class="elements20 keyframe5">
                                                        <img src="assets/img/icons/arrow1.svg" alt="" class="arrow1">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>