<div class="vl-blog-1-area sp1">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 m-auto">
                <div class="vl-blog-1-section-box heading2 text-center space-margin60">
                    <h5 class="vl-section-subtitle"><span><img src="assets/img/icons/sub-logo1.svg" alt=""></span>our
                        blog</h5>
                    <div class="space20"></div>
                    <h2 class="vl-section-title text-anime-style-3">Stay Updated with the Latest in IT Solutions</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let blog of blogs.slice(0,2);let i =index" class="col-lg-6 col-md-6"
                [attr.data-aos]="blog.aosClass" [attr.data-aos-duration]="900 + i * 100">
                <app-blog-card [blog]="blog" />
            </div>
            <div class="col-lg-12">
                <div class="space18"></div>
                <div class="btn-area1 text-center">
                    <a routerLink="/blogs/one" class="vl-btn2">Read More Blog And News <i
                            class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>