<header class="homepage4-body">
    <div id="vl-header-sticky" class="vl-header-area vl-transparent-header" stickyScroll>
        <div class="container headerfix">
            <div class="row align-items-center row-bg4">
                <div class="col-lg-2 col-md-6 col-6">
                    <div class="vl-logo">
                        <a routerLink="/home-1"><img src="assets/img/logo/logo1.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-7 d-none d-lg-block">
                    <div class="vl-main-menu text-center">
                        <nav class="vl-mobile-menu-active">
                            <app-single-nav-items [menuItems]="menuItems" />
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-6">
                    <div class="vl-hero-btn d-none d-lg-block text-end">
                        <span class="vl-btn-wrap text-end">
                            <a routerLink="/pages/contact" class="vl-btn5"><span class="demo">Get In Touch</span><span
                                    class="arrow"><i class="fa-solid fa-arrow-right"></i></span> </a>
                        </span>
                    </div>
                    <div class="vl-header-action-item d-block d-lg-none">
                        <button type="button" class="vl-offcanvas-toggle" (click)="toggleMobileMenu()">
                            <i class="fa-solid fa-bars-staggered"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<app-single-mobile-menu className="homepage4-body" [isMobileMenuOpen]="isMobileMenuOpen" [menuItems]="menuItems" />
