<div class="work5-section-area sp8">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="work-header text-center space-margin60 heading8">
                    <h5>How We Work</h5>
                    <div class="space18"></div>
                    <h2 class="text-anime-style-3">We Create Digital Future</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="work-widget-boxes">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-6" *ngFor="let step of steps" [attr.data-aos]="'zoom-in'"
                            [attr.data-aos-duration]="step.duration">
                            <div [ngClass]="['work-boxarea', step.box2 ? 'box2' : '']">
                                <h5>{{ step.step }}</h5>
                                <div class="space20"></div>
                                <div class="icons">
                                    <img [src]="step.icon" alt="" />
                                </div>
                                <div class="space24"></div>
                                <a routerLink="/services/single">{{ step.title }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>