<div class="team1-section-area sp2">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 m-auto">
                <div class="team-header space-margin60 heading2 text-center">
                    <h5><span><img src="assets/img/icons/sub-logo1.svg" alt=""></span>our best team</h5>
                    <div class="space20"></div>
                    <h2 class="text-anime-style-3">Meet Our Expert Team</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let member of teamMembers.slice(0,3);let i= index" class="col-lg-4 col-md-6" data-aos="zoom-in"
                [attr.data-aos-duration]="800 + i * 200">
                <app-member-card [member]="member" />
            </div>
        </div>
    </div>
</div>