<div class="hero4-section-area"
    style="background-image: url(assets/img/all-images/bg/hero-bg5.png); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="hand-img">
        <img src="assets/img/elements/elements32.png" alt="" class="elements32">
        <img src="assets/img/elements/elements31.png" alt="" class="elements31 keyframe5">
    </div>
    <img src="assets/img/elements/elements33.png" alt="" class="elements33 aniamtion-key-1">
    <img src="assets/img/elements/elements34.png" alt="" class="elements34">
    <img src="assets/img/elements/elements35.png" alt="" class="elements35">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="hero4-heading heading3">
                    <h5 data-aos="fade-left" data-aos-duration="800" style="text-transform: uppercase;"><img
                            src="assets/img/icons/sub-logo2.svg" alt="">Innovative Solutions for A Digital World</h5>
                    <div class="space18"></div>
                    <h1 class="text-anime-style-3">Best Optimized IT For Performance, Security Sustainable Growth</h1>
                    <div class="space16"></div>
                    <p data-aos="fade-left" data-aos-duration="1000">We offer full suite of IT solutions designed meet
                        the needs of modern businesses. Our Eitech cybersecurity services to provide robust protection
                        for your data & systems while.</p>
                    <div class="space32"></div>
                    <div class="btn-area1" data-aos="fade-left" data-aos-duration="1200">
                        <a routerLink="/home-1" class="vl-btn5"><span class="demo">Book A Free Consultation</span><span
                                class="arrow"><i class="fa-solid fa-arrow-right"></i></span> </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <div class="her4-images-area">
                    <div class="img1" data-aos="zoom-in" data-aos-duration="1000">
                        <img src="assets/img/all-images/hero/hero-img6.png" alt="">
                    </div>
                    <div class="bg">
                        <img src="assets/img/elements/elements36.png" alt="" class="keyframe5">
                    </div>
                    <img src="assets/img/elements/elements37.png" alt="" class="elements37 aniamtion-key-1">
                    <img src="assets/img/elements/elements38.png" alt="" class="elements38 aniamtion-key-2">
                </div>
            </div>
        </div>
    </div>
</div>