<div class="cta5-section-area" style="background-image: url(assets/img/all-images/bg/hero-bg6.png); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="cta-header heading7">
                    <h5 data-aos="fade-left" data-aos-duration="800"><span><img src="assets/img/icons/sub-logo1.svg" alt=""></span>Start Your Mobile App Journey Now</h5>
                    <div class="space18"></div>
                    <h2 class="text-anime-style-3">Let’s Build Somethings Amazing App Together</h2>
                    <div class="space16"></div>
                    <p data-aos="fade-left" data-aos-duration="900">Don’t let your mobile app idea stay on the drawing board. At ETech, we’re ready to bring your vision life innovative.</p>
                    <div class="space32"></div>
                    <div class="btn-area1" data-aos="fade-left" data-aos-duration="1000">
                        <a class="vl-btn6" routerLink="/pages/contact">Let’s Build Your App <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                        <a class="vl-btn6 btn2" routerLink="/pages/contact">Start Project <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-6">
                <div class="images-area">
                    <div class="row">
                        <div class="col-lg-6 col-md-6" data-aos="fade-right" data-aos-duration="1000">
                            <div class="img1">
                                <img src="assets/img/all-images/hero/hero-img7.png" alt="">
                            </div>
                            <div class="space30 d-md-none d-block"></div>
                        </div>
                        <div class="col-lg-6 col-md-6" data-aos="fade-left" data-aos-duration="1000">
                            <div class="img2">
                                <img src="assets/img/all-images/hero/hero-img7.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>