<div [class]="mobileMenuClass">
  <div
    class="vl-offcanvas"
    [ngClass]="{ 'vl-offcanvas-open': isMobileMenuOpen }"
  >
    <div class="vl-offcanvas-wrapper">
      <div
        class="vl-offcanvas-header d-flex justify-content-between align-items-center mb-90"
      >
        <div class="vl-offcanvas-logo">
          <a
            routerLink="/home"
            class="omn-logo-text"
            >OMN GLOBAL</a
          >
        </div>
        <div class="vl-offcanvas-close">
          <button
            class="vl-offcanvas-close-toggle"
            (click)="toggleMobileMenu()"
          >
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      </div>

      <div class="vl-offcanvas-menu d-lg-none mb-40">
        <nav>
          <ul>
            @for (item of menu; track $index) {
            <li
              class="has-dropdown"
              [ngClass]="{ ' active': item.isOpen }"
            >
              <a
                *ngIf="item.link"
                [routerLink]="item.link"
                (click)="toggleSubMenu(item)"
              >
                {{ item.title }}
              </a>
              <a
                *ngIf="!item.link"
                href="javascript:void(0)"
                (click)="toggleSubMenu(item)"
              >
                {{ item.title }}
              </a>

              @if (item.subMenu) {
              <ul
                class="sub-menu"
                [ngStyle]="{ display: item.isOpen ? 'block' : 'none' }"
              >
                @for (subItem of item.subMenu; track $index) {
                <li>
                  @if(subItem.subMenu){
                  <a
                    href="javascript:void(0);"
                    class="span-arrow"
                    (click)="toggleSubMenu(subItem, $event)"
                  >
                    {{ subItem.title }}
                  </a>
                  <ul
                    class="sub-menu menu1"
                    [ngClass]="{ 'd-block': subItem.isOpen }"
                  >
                    @for (subSubItem of subItem.subMenu; track $index) {
                    <li>
                      <a [routerLink]="subSubItem.link">{{
                        subSubItem.title
                      }}</a>
                    </li>
                    }
                  </ul>

                  <button
                    class="vl-menu-close"
                    (click)="toggleSubMenu(subItem, $event)"
                  >
                    <i class="fas fa-chevron-right"></i>
                  </button>
                  }@else{
                  <a [routerLink]="subItem.link">{{ subItem.title }}</a>
                  }
                </li>
                }
              </ul>
              <button
                class="vl-menu-close"
                (click)="toggleSubMenu(item, $event)"
              >
                <i class="fas fa-chevron-right"></i>
              </button>
              }
            </li>
            }
          </ul>
        </nav>
      </div>

      <div class="space20"></div>
      <div class="vl-offcanvas-info">
        <h3 class="vl-offcanvas-sm-title">Contact Us</h3>
        <div class="space20"></div>
        <span
          ><a href="javascript:void(0)">
            <i class="fa-regular fa-envelope"></i>+91-7838819230</a
          ></span
        >
        <span
          ><a href="javascript:void(0)"
            ><i class="fa-solid fa-phone"></i> info&#64;omnglobal.org</a
          ></span
        >
        <span
          ><a href="javascript:void(0)"
            ><i class="fa-solid fa-location-dot"></i> 1869/15 First floor,
            Govindpuri Extension, Kalkaji, New Delhi - 110019, India</a
          ></span
        >
      </div>
      <div class="space20"></div>
      <div class="vl-offcanvas-social">
        <h3 class="vl-offcanvas-sm-title">Follow Us</h3>
        <div class="space20"></div>
        <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
        <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
        <a
          href="https://www.linkedin.com/in/omn-global-a4b7ba393/"
          target="_blank"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <a
          href="https://www.instagram.com/omnglobal2/"
          target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
      </div>
    </div>
  </div>
  <div
    class="vl-offcanvas-overlay"
    [ngClass]="{ 'vl-offcanvas-overlay-open': isMobileMenuOpen }"
    (click)="toggleMobileMenu()"
  ></div>
</div>
