<div class="cta4-section-area sp1">
    <img src="assets/img/elements/elements33.png" alt="" class="elements33 aniamtion-key-1">
    <img src="assets/img/elements/elements1.png" alt="" class="elements1 keyframe5">
    <img src="assets/img/elements/elements16.png" alt="" class="elements16">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="cta-header heading1">
          <h2 data-aos="fade-left" data-aos-duration="700">Empower Your Business  Advanced Technology</h2>
          <div class="space16"></div>
          <p data-aos="fade-left" data-aos-duration="800">Feel free to customize this paragraph to better reflect the specific services offered by your IT solution & the unique </p>
          <div class="space24"></div>
          <form data-aos="fade-left" data-aos-duration="900">
            <input type="text" placeholder="Email Address">
            <button type="submit" class="vl-btn5"><span class="demo">Subscribe</span><span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></button>
          </form>
        </div>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-4">
        <div class="cta-images">
          <img src="assets/img/elements/elements36.png" alt="" class="elements36 keyframe5">
          <div class="img1">
            <img src="assets/img/all-images/cta/cta-img3.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>