<div class="about6-section-area sp1">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="about6-header heading8">
                    <h5 data-aos="fade-left" data-aos-duration="800">About Application Solution</h5>
                    <div class="space18"></div>
                    <h2 class="text-anime-style-3">After Development How We Perform App On Live</h2>
                    <div class="space16"></div>
                    <p data-aos="fade-left" data-aos-duration="900">With our expertise, you can confidently step into
                        the mobile world an stay ahead competition with precision, innovation.</p>
                    <div class="space24"></div>
                    <div class="about-boxarea" data-aos="fade-left" data-aos-duration="1000">
                        <div class="icons">
                            <img src="assets/img/icons/service-icon17.svg" alt="">
                        </div>
                        <div class="content-area">
                            <a href="javascript:void(0)">Auto Update Features</a>
                            <div class="space16"></div>
                            <p>We focus on creating apps that only meet your immediate an needs but are scalable
                                adaptable</p>
                        </div>
                    </div>
                    <div class="space24"></div>
                    <div class="about-boxarea" data-aos="fade-left" data-aos-duration="1100">
                        <div class="icons">
                            <img src="assets/img/icons/service-icon17.svg" alt="">
                        </div>
                        <div class="content-area">
                            <a href="javascript:void(0)">Enable Google Analytics</a>
                            <div class="space16"></div>
                            <p>We focus on creating apps that only meet your immediate an needs but are scalable
                                adaptable</p>
                        </div>
                    </div>
                    <div class="space32"></div>
                    <div class="btn-area1" data-aos="fade-left" data-aos-duration="1200">
                        <a class="vl-btn6" href="javascript:void(0)">Start Your Project Now <span class="arrow1"><i
                                    class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i
                                    class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-5">
                <div class="images">
                    <div class="img1 reveal image-anime" appGsapReveal>
                        <img src="assets/img/all-images/about/about-img11.png" alt="">
                    </div>
                    <img src="assets/img/all-images/about/about-img12.png" alt="" class="about-img12 aniamtion-key-1">
                </div>
            </div>
        </div>
    </div>
</div>