<div class="cta3-section-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cta-bg-area">
                    <img src="assets/img/elements/elements26.png" alt="" class="elements26">
                    <div class="row">
                        <div class="col-lg-8 m-auto">
                            <div class="cta-header heading1 text-center">
                                <h2 data-aos="fade-left" data-aos-duration="700">We’re Ready To Help You, Anytime</h2>
                                <div class="space16"></div>
                                <p data-aos="fade-left" data-aos-duration="800">Our dedicated support team is available
                                    to resolve any issues or answer your questions quickly. No matter what problem
                                    you're facing, we're here ensure you get the help you need without.</p>
                                <div class="space24"></div>
                                <div class="btn-area1">
                                    <a routerLink="/pages/contact" class="vl-btn4">Reach out to our Help Desk today!</a>
                                    <a routerLink="/pages/contact" class="vl-btn4 bnt2">Request a support now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>