<div class="testimonial4-section-area sp1"
    style="background-image: url(assets/img/all-images/bg/service-bg1.png); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="testimonial-heading heading6 space-margin60">
                    <h5><img src="assets/img/icons/sub-logo4.svg" alt="">Testimonials</h5>
                    <div class="space18"></div>
                    <h2 class="text-anime-style-3">What Our Clients Say</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <owl-carousel-o [options]="customOptions" class="testimonial4-slider">
                    <ng-container *ngFor="let testimonial of testimonials">
                        <ng-template carouselSlide>
                            <div class="testimonial-review-box">
                                <div class="man-text">
                                    <div class="man">
                                        <img [src]="testimonial.image" alt="{{ testimonial.name }}">
                                    </div>
                                    <div class="text">
                                        <a routerLink="/our-team">{{ testimonial.name }}</a>
                                        <div class="space12"></div>
                                        <p>{{ testimonial.role }}</p>
                                    </div>
                                </div>
                                <div class="space24"></div>
                                <p>{{ testimonial.message }}</p>
                                <div class="space24"></div>
                                <div class="logo-area">
                                    <img src="assets/img/elements/elements40.png" alt="Company Logo">
                                    <ul class="d-flex align-items-center gap-1 flex-wrap">
                                        <li *ngFor="let star of [].constructor(testimonial.rating)">
                                            <i class="fa-solid fa-star"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>