<header class="homepage5-body">
    <div id="vl-header-sticky" class="vl-header-area vl-transparent-header" stickyScroll>
        <div class="container-fluid headerfix">
            <div class="row align-items-center row-bg4">
                <div class="col-lg-2 col-md-6 col-6">
                    <div class="vl-logo">
                        <a routerLink="/home-1"><img src="assets/img/logo/logo6.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-7 d-none d-lg-block">
                    <div class="vl-main-menu text-center">
                        <nav class="vl-mobile-menu-active">
                            <app-nav-items themeBtn="vl-btn6" [arrow2]="true" />
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-6">
                    <div class="vl-hero-btn d-none d-lg-block text-end">
                        <span class="vl-btn-wrap text-end">
                            <a class="vl-btn6" routerLink="/pages/contact">Let’s Build Your App <span class="arrow1"><i
                                        class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i
                                        class="fa-solid fa-arrow-right"></i></span></a>
                        </span>
                    </div>
                    <div class="vl-header-action-item d-block d-lg-none">
                        <button type="button" class="vl-offcanvas-toggle" (click)="toggleMobileMenu()">
                            <i class="fa-solid fa-bars-staggered"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<app-mobile-menu themeBtn="vl-btn6" [arrow2]="true" [isMobileMenuOpen]="isMobileMenuOpen"
    mobileMenuClass="homepage5-body" />