<div class="hero1-section-area" style="background-image: url(assets/img/all-images/bg/hero-bg1.png);">
    <img src="assets/img/elements/elements6.png" alt="" class="elements6">
    <img src="assets/img/elements/elements5.png" alt="" class="elements5">
    <img src="assets/img/elements/elements4.png" alt="" class="elements4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="hero1-header heading1">
                    <h5 data-aos="fade-left" data-aos-duration="800"><span><img src="assets/img/icons/sub-logo1.svg"
                                alt=""></span>Create your Dream Project With Us</h5>
                    <div class="space16"></div>
                    <h1 class="text-anime-style-3">Advanced IT Solutions For Modern Businesses</h1>
                    <div class="space16"></div>
                    <p data-aos="fade-left" data-aos-duration="900">We specialize in providing innovative scalable IT
                        solutions tailored to meet the unique needs of your business, from comprehensive</p>
                    <div class="space32"></div>
                    <div class="btn-area1" data-aos="fade-left" data-aos-duration="1000">
                        <a routerLink="/pages/contact" class="vl-btn1">Explore Our Solutions <i
                                class="fa-solid fa-arrow-right"></i></a>
                        <a (click)="openVideoModal()" class="popup-youtube"><span><i
                                    class="fa-solid fa-play"></i></span>Play Video</a>
                    </div>
                    <ng-template #videoModal let-modal>
                        <div class="modal-body p-0 position-relative rounded-3 overflow-hidden">
                            <button type="button"
                                class="btn-close btn btn-light rounded-circle bg-white p-2 position-absolute top-0 end-0 m-3"
                                aria-label="Close" (click)="modal.dismiss()"></button>

                            <iframe width="100%" height="400" src="https://www.youtube.com/watch?v=Y8XpQpW5OVY"
                                frameborder="0" allowfullscreen></iframe>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <div class="hero-images-area">
                    <div class="img1">
                        <img src="assets/img/all-images/hero/hero-img1.png" alt="">
                    </div>
                    <div class="image-bg1">
                        <img src="assets/img/all-images/bg/img-bg1.png" alt="">
                    </div>
                    <div class="elements">
                        <img src="assets/img/elements/elements3.png" alt="" class="elements3 aniamtion-key-1">
                        <img src="assets/img/elements/elements2.png" alt="" class="elements2 aniamtion-key-2">
                        <img src="assets/img/elements/elements1.png" alt="" class="elements1 keyframe5">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>