<div class="faq5-section-area sp1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="faq-header text-center heading8 space-margin60">
                    <h5>FAQ Question</h5>
                    <div class="space18"></div>
                    <h2 class="text-anime-style-3">Frequently Asked Question</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="faq-widget-area">
                    <div ngbAccordion [closeOthers]="true" id="accordionExample">
                        @for (faq of faqs; track $index;let i =$index;let last=$last;let first=$first) {
                        <div ngbAccordionItem [collapsed]="first ? false : true" data-aos="fade-up"
                            [attr.data-aos-duration]="800 + i * 100">
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton type="button">
                                    {{faq.question}}
                                </button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <p>The timeline for app development depends on the complexity of the project, the
                                        features <br class="d-lg-block d-none"> required, and the platforms you want
                                        target (iOS, Android, or both). On average, simple app.</p>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!last" class="space32"></div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>