<div class="others3-section-area sp1">
  <img src="assets/img/elements/elements29.png" alt="" class="elements29">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="others-heading heading4">
          <h5 data-aos="fade-left" data-aos-duration="800"><img src="assets/img/icons/sub-logo3.svg" alt="">All Chanel support available</h5>
          <div class="space20"></div>
          <h2 class="text-anime-style-3">24/7 All Time Support Any Chanel With On Platform</h2>
          <div class="space18"></div>
          <p data-aos="fade-left" data-aos-duration="900">We understand that encountering problems can be frustrating. <br class="d-lg-block d-none"> That’s why our Help Desk is designed to provide you with quick <br class="d-lg-block d-none"> and effective  solutions. From troubleshooting common issues.</p>
          <div class="space32"></div>
          <div class="btn-area1" data-aos="fade-left" data-aos-duration="1000">
            <a routerLink="/pages/contact" class="vl-btn4">Connect with Support</a>
          </div>
        </div>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-5">
        <div class="img1">
          <img src="assets/img/all-images/others/others-img1.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>