<div class="team2-section-area sp2">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 m-auto">
                <div class="team-header space-margin60 heading4 text-center">
                    <h5><span><img src="assets/img/icons/sub-logo2.svg" alt=""></span>Our Team</h5>
                    <div class="space20"></div>
                    <h2 class="text-anime-style-3">Meet Our Expert Team</h2>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-3 col-md-6" *ngFor="let member of teamMembers" data-aos="zoom-in"
                [attr.data-aos-duration]="member.duration">

                <div class="team-author-boxarea">
                    <div class="img1 image-anime">
                        <img [src]="member.image" alt="">
                    </div>
                    <div class="content-area">
                        <div class="text">
                            <a routerLink="/team">{{ member.name }}</a>
                            <div class="space8"></div>
                            <p>{{ member.role }}</p>
                        </div>
                    </div>
                    <ul>
                        <li><a href="javascript:void(0)"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href="javascript:void(0)" class="m-0"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>