<div class="inner-page-hero-area"
    style="background-image: url(assets/img/all-images/bg/hero-bg1.png); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <img src="assets/img/elements/elements5.png" alt="" class="elements5">
    <img src="assets/img/elements/elements4.png" alt="" class="elements4">
    <img src="assets/img/elements/elements1.png" alt="" class="elements1 keyframe5">
    <img src="assets/img/elements/elements16.png" alt="" class="elements16">

    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto w-100">
                <div class="inner-header text-center heading1">
                    <h1>{{title}}</h1>
                    <div class="space28"></div>
                    <a routerLink="/home-1">Home <i class="fa-solid fa-angle-right"></i> <span>{{title}}</span></a>
                </div>
            </div>
        </div>
    </div>
</div>