<div class="features3-section-area sp1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 m-auto">
        <div class="features heading heading5 text-center">
          <h5><img src="assets/img/icons/sub-logo3.svg" alt="">eitech all features</h5>
          <div class="space20"></div>
          <h2 class="text-anime-style-3">Discover Why Eitech Unique</h2>
        </div>
      </div>
      <div class="space100 d-lg-block d-none"></div>
      <div class="space60 d-lg-none d-block"></div>
    </div>

    <div class="row align-items-center">
      <div class="col-lg-6" data-aos="zoom-in" data-aos-duration="1000">
        <div class="images-area">
          <img src="assets/img/elements/elements28.png" alt="" class="elements28">
          <svg xmlns="http://www.w3.org/2000/svg" width="483" height="467" viewBox="0 0 483 467" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M266.577 463.258C200.182 477.787 129.972 448.449 80.196 402.148C28.7424 354.286 2.6788 285.923 0.403656 215.667C-1.9523 142.916 8.49039 58.9734 67.7138 16.6983C123.868 -23.3859 197.78 20.6378 266.577 25.6664C326.276 30.0299 393.811 3.79349 438.363 43.7902C483.846 84.6228 489.019 155.489 478.219 215.667C468.978 267.16 420.048 295.457 386.062 335.216C346.629 381.348 325.846 450.289 266.577 463.258Z" fill="#D8CEED" fill-opacity="0.7"/>
          </svg>
          <div class="img1 image-anime">
            <img src="assets/img/all-images/blog/blog-img6.png" alt="">
          </div>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="content-area heading5">
          <h3 class="text-anime-style-3">Resolve Your Issues Quickly with Our Best On Help Desk</h3>
          <div class="space18"></div>
          <p data-aos="fade-left" data-aos-duration="900">Our Help Desk is dedicated to providing you with the support you need, exactly when you need it. Whether you're troubleshooting a technical issue, looking for .</p>
          <div class="space18"></div>
          <p data-aos="fade-left" data-aos-duration="1000">Experience seamless support with our Help Desk, The designed to address your needs swiftly an efficiently.</p>
          <div class="space28"></div>
          <div class="btn-area1" data-aos="fade-left" data-aos-duration="1200">
            <a routerLink="/pages/contact" class="vl-btn4">Contact Support</a>
          </div>
        </div>
      </div>
    </div>
    <div class="space100 d-lg-block d-none"></div>
    <div class="space60 d-lg-block d-none"></div>
    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class="content-area2 heading5">
          <h3 class="text-anime-style-3">We’re Here to Help-24/7 All Support at Your Fingertips</h3>
          <div class="space18"></div>
          <p data-aos="fade-left" data-aos-duration="900">Our Help Desk is designed with you mind, providing fast and effective solutions to any issues you may encounter. With support available around the clock.</p>
          <div class="space18"></div>
          <p data-aos="fade-left" data-aos-duration="1000">we are committed to delivering top-notch support tailored to your needs. Our knowledgeable team is.</p>
          <div class="space28"></div>
          <div class="btn-area1" data-aos="fade-left" data-aos-duration="1200">
            <a routerLink="/pages/contact" class="vl-btn4">Contact Support</a>
          </div>
        </div>
        <div class="space50 d-lg-none d-block"></div>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-6" data-aos="zoom-in" data-aos-duration="1100">
        <div class="images-area">
          <img src="assets/img/elements/elements28.png" alt="" class="elements28">
          <svg xmlns="http://www.w3.org/2000/svg" width="483" height="467" viewBox="0 0 483 467" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M266.577 463.258C200.182 477.787 129.972 448.449 80.196 402.148C28.7424 354.286 2.6788 285.923 0.403656 215.667C-1.9523 142.916 8.49039 58.9734 67.7138 16.6983C123.868 -23.3859 197.78 20.6378 266.577 25.6664C326.276 30.0299 393.811 3.79349 438.363 43.7902C483.846 84.6228 489.019 155.489 478.219 215.667C468.978 267.16 420.048 295.457 386.062 335.216C346.629 381.348 325.846 450.289 266.577 463.258Z" fill="#D8CEED" fill-opacity="0.7"/>
          </svg>
          <div class="img1 image-anime">
            <img src="assets/img/all-images/blog/blog-img7.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="space50 d-block d-none"></div>
</div>