<div class="about3-section-area sp1">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-6">
            <div class="images">
              <img src="assets/img/elements/elements27.png" alt="" class="elements27">
              <img src="assets/img/elements/elements28.png" alt="" class="elements28">
              <div class="img1 image-anime reveal" appGsapReveal>
                <img src="assets/img/all-images/about/about-img5.png" alt="">
              </div>
            </div>
            <div class="space30 d-md-none d-block"></div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="img1 image-anime reveal" appGsapReveal>
              <img src="assets/img/all-images/about/about-img6.png" alt="">
            </div>
            <div class="space30"></div>
            <div class="img1 image-anime reveal" appGsapReveal>
              <img src="assets/img/all-images/about/about-img7.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="about-header-area heading5">
          <h5 data-aos="fade-left" data-aos-duration="700"><img src="assets/img/icons/sub-logo3.svg" alt="">About Eitech help desk</h5>
          <div class="space20"></div>
          <h2 class="text-anime-style-3">Our Team Ready to Assist You Anytime, Anywheres</h2>
          <div class="space18"></div>
          <p data-aos="fade-left" data-aos-duration="800">Our Help Desk is staffed with experienced professionals who on are committed to providing you with the solutions you need, as quickly and efficiently as possible. whether you're dealing with.</p>
          <div class="space16"></div>
          <div class="row" data-aos="fade-left" data-aos-duration="900">
            <div class="col-lg-4">
              <ul>
                <li><img src="assets/img/icons/check3.svg" alt="">Our Expert Team</li>
                <li><img src="assets/img/icons/check3.svg" alt="">24/7 Availability</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><img src="assets/img/icons/check3.svg" alt="">Customer-Centric Approach</li>
                <li><img src="assets/img/icons/check3.svg" alt="">Comprehensive Knowledge</li>
              </ul>
            </div>
          </div>
          <div class="space32"></div>
          <div class="btn-area1" data-aos="fade-left" data-aos-duration="1100">
            <a routerLink="/pages/contact" class="vl-btn4">Browse Help Topics</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>