<div class="about6-section-area-widget sp1">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="about6-header heading2">
                    <h5><span><img src="assets/img/icons/sub-logo1.svg" alt=""></span>our mission/vision</h5>
                    <div class="space18"></div>
                    <h2 class="text-anime-style-3">Driving Innovation: Our Mission Vision at Eitech</h2>
                    <div class="space16"></div>
                    <p data-aos="fade-left" data-aos-duration="900">At the of innovation, our cutting-edge IT solutions
                        are designed transform your business ETech operations. </p>
                    <div class="space24"></div>
                    <div class="about-boxarea" data-aos="fade-left" data-aos-duration="1000">
                        <div class="icons">
                            <img src="assets/img/icons/service-icon2.svg" alt="">
                        </div>
                        <div class="content-area">
                            <a routerLink="/services/single">Network Infrastructure Solutions</a>
                            <div class="space16"></div>
                            <p>In today’s fast-paced world, technology is the backbone of success. Our comprehensive IT.
                            </p>
                        </div>
                    </div>
                    <div class="space24"></div>
                    <div class="about-boxarea" data-aos="fade-left" data-aos-duration="1100">
                        <div class="icons">
                            <img src="assets/img/icons/service-icon5.svg" alt="">
                        </div>
                        <div class="content-area">
                            <a routerLink="/services/single">Performance Tailored IT Services</a>
                            <div class="space16"></div>
                            <p>Our tailored IT services are crafted to meet your unique business needs, ensuring that.
                            </p>
                        </div>
                    </div>
                    <div class="space32"></div>
                    <div class="btn-area1" data-aos="fade-left" data-aos-duration="1200">
                        <a routerLink="/our-contact" class="vl-btn2">See How We Can Help<i
                                class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-6">
                <div class="images-area">
                    <img src="assets/img/elements/elements27.png" alt="" class="elements27">
                    <div class="img1 image-anime reveal" appGsapReveal>
                        <img src="assets/img/all-images/about/about-img13.png" alt="">
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="img1 image-anime reveal" appGsapReveal>
                                <div class="space30"></div>
                                <img src="assets/img/all-images/about/about-img14.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="img1 image-anime reveal" appGsapReveal>
                                <div class="space30"></div>
                                <img src="assets/img/all-images/about/about-img15.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>