<div class="hero2-section-area" style="background-image: url(assets/img/all-images/bg/hero-bg3.png);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="hero2-header heading3">
                    <h5 data-aos="fade-left" data-aos-duration="800"><img src="assets/img/icons/sub-logo2.svg" alt="">Create your Dream Project With Us</h5>
                    <div class="space24"></div>
                    <h1 class="text-anime-style-3">Experience With BPO Call Centre Solutions</h1>
                    <div class="space18"></div>
                    <p data-aos="fade-left" data-aos-duration="900">Outsourcing your call centre operations can revolutionize the way  manage customer support, with our expert an team handling every.</p>
                    <div class="space32"></div>
                    <div class="counter-boxarea">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-6" data-aos="zoom-in" data-aos-duration="800">
                                <div class="counter-box">
                                    <h2><span [countUp]="200" class="counter"></span>K</h2>
                                    <div class="space16"></div>
                                    <p>Happy Customer</p>
                                </div>
                            </div>
    
                            <div class="col-lg-4 col-md-4 col-6" data-aos="zoom-in" data-aos-duration="900">
                                <div class="counter-box">
                                    <h2><span [countUp]="20" class="counter"></span>+</h2>
                                    <div class="space16"></div>
                                    <p>Years Experience</p>
                                </div>
                            </div>
    
                            <div class="col-lg-4 col-md-4" data-aos="zoom-in" data-aos-duration="1000">
                                <div class="space30 d-md-none d-block"></div>
                                <div class="counter-box box2">
                                    <h2><span [countUp]="24" class="counter"></span>/<span [countUp]="7" class="counter"></span></h2>
                                    <div class="space16"></div>
                                    <p>Customer Support</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space32"></div>
                    <div class="btn-area1" data-aos="fade-left" data-aos-duration="1200">
                        <a routerLink="/pages/contact" class="vl-btn3"><span class="demo">Boost Your Customer Support</span><span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero2-images-area">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                           <div class="images">
                            <div class="img1 reveal" appGsapReveal>
                                <img src="assets/img/all-images/hero/hero-img2.png" alt="">
                            </div>
                            <div class="space30"></div>
                            <div class="arrow-circle text-end">
                                <a href="javascript:void(0)">
                                    <img src="assets/img/elements/elements20.png" alt="" class="elements20 keyframe5">
                                    <img src="assets/img/icons/arrow1.svg" alt="" class="arrow1"></a>
                            </div>
                            <img src="assets/img/elements/elements19.png" alt="" class="elements19">
                           </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="img2 reveal" appGsapReveal>
                                <img src="assets/img/all-images/hero/hero-img3.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>